@media only screen and (min-width: 200px) {
    html,
    body,
    #fullheight {
        width: 800px;
        min-width: 100%;
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        background-color: #444;
        color: #eee;
    }
}

@media only screen and (min-width: 900px) {
    html,
    body,
    #fullheight {
        width: auto !important;
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        background-color: #444;
        color: #eee;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --primary: "red"
}