.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #555;
  width: 100%;
  margin-bottom: 40px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../public/banner-pc.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
}

.perfil {
  height: 500px;
  width: 500px;
  border-radius: 250px;
  margin: 20px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgProject {
  height: 270px;
  width: 480px;
  margin: 10px;
}

.imgProject:hover {
  opacity: 50%;
  transform: scale(1.05);
}

.space {
  height: 8vh;
  width: 100%;
  background-color: #444;
  margin-top: 30px;
  margin-bottom: 15px;
}

.imgSmall {
  height: 300px;
  width: 420px;
  margin: 15px;
}

.imgSmall:hover {
  opacity: 50%;
  transform: scale(1.05);
}

.button {
  font-size: 1.2rem;
  margin-top: 80px;
  border-radius: 20px;
  background-color: #4444;
  color: #eee;
  padding: 7px 14px;
}

.button:hover {
  background-color: #6cf;
}

.font {
  text-align: center;
  font-size: 1.25rem;
  width: 700px;
}

.font2 {
  color: #eee;
  background-color: #4443;
  padding: 6px 18px;
  border-radius: 20px;
  text-align: center;
}
