.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    margin-top: 20PX;
}

.lang {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 300px;
    height: 300px;
    padding: 40px;
    border-radius: 20px;
}

.div {
    display: flex;
    justify-content: space-around;
}

.color1 {
    width: 300px;
    height: 300px;
    margin-top: 15PX;
    margin-bottom: 10PX;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #FFB455;
}

.color2 {
    width: 300px;
    height: 300px;
    margin-top: 15PX;
    margin-bottom: 10PX;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #5C954A;
}

.color3 {
    width: 300px;
    height: 300px;
    margin-top: 15PX;
    margin-bottom: 10PX;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #3684C1;
}

.color4 {
    width: 300px;
    height: 300px;
    margin-top: 15PX;
    margin-bottom: 10PX;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #EA5732;
}

.icon {
    margin-bottom: 10px;
}